.google-img{
    position: relative;
    bottom: -5px;
}
.menu{
    list-style: none;
    display: inline-flex;
    position: relative;
    bottom: 40px;
    left: 150px;

}
ul>li {
    padding: 10px;
}
ul>li:hover{
    color: red;
    background-color: green ;
    height: 20px;
    
}
.coures-menu:hover .sub-menu{
    display: block;
}
.sub-menu{
    height: 110px;
    width: 100px;
    background-color: black;
    color: brown;
    list-style-type: none;
    position: absolute;
    top: 39px;
    display: none;
}
